.time-entry {
    background-color: #333333;
    color: beige;
    padding: 5px;
    margin: 2px 0;
    cursor: pointer;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #252525;
    color: beige;
    border: none;
}


button:hover {
    background-color: #444444;
}
#timings {
    margin-top: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: beige;
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
input[type="time"] {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #444444;
    background-color: #2e2e2e;
    color: beige;
}
input[type="checkbox"]:checked {
    accent-color: #ff5722;
}
input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #888888;
    color: #252525;
}
form {
    background-color: #252525;
}