<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="centered">
        <form action="status" method="get">
            <h3 align="center">Login</h3>
            <input type="password" placeholder="API KEY" name="api_key" id="apikey" required>
            <br>
            <button type="login">Submit</button>
        </form>
    </div>
</body>
</html>